
.uslugi ul li { 
    text-align: left;
    margin-bottom: 1rem;
    font-size: 2rem;
}
.uslugi  { 
    margin-bottom: 2rem;
}
.uslugi h3  { 
    line-height: 1.5;
}
.service-item ul {
    text-align: left;
}
.vert-text {
    text-shadow: .1rem .1rem .5rem rgb(5, 5, 41);
    background-color: rgba(0, 0, 0, 0.1);
}

.vert-text__title {
    padding: 3rem 0;
    text-shadow: .1rem .1rem .5rem rgb(5, 5, 41);
    background-color: rgba(3, 2, 3, 0.7);
}
.vert-text__title h2 {
    line-height: 1.2;
}

/* ---------------------------------------------- /*
 *Scroll Down
/* ---------------------------------------------- */

.scroll-down {
	position: absolute;
	left: 50%;
	bottom: 40px;
	border: 2px solid #fff;
	border-radius: 50%;
	height: 50px;
	width: 40px;
	margin-left: -15px;
	display: block;
	z-index: 10;
    text-align: center;
}

.scroll-down span{
    position: relative;
    color: #fff;
    -webkit-animation-name: drop;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;
	animation-name: drop;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-play-state: running;
}

@-webkit-keyframes drop	{
	0%   { top:0px;  opacity: 0;}
	30%  { top:10px; opacity: 1;}
	100% { top:25px; opacity: 0;}
}

@keyframes drop	{
	0%   { top:0px;  opacity: 0;}
	30%  { top:10px; opacity: 1;}
	100% { top:25px; opacity: 0;}
}
